---
---

@import "{{ site.theme }}";

/* Put any custom CSS below this line */

.page-header .project-name {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  background-image: linear-gradient(120deg, #0b1021, #7c3aed, #f43f5e);
}

